body {
    background-color: #F0A16C;
  }
  
h1 {
    color: #F2EFE9; 
}

button {
    background-color: #E4572E;
    color: #F2EFE9;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #F2EFE9;
    color: #E4572E;
}

#start-screen {
    text-align: center;
    margin-top: 20%;
}

#game-screen {
    text-align: center;
    margin-top: 100px;
}

#end-screen {
    text-align: center;
    margin-top: 100px;
}

#winner {
    font-size: 2em;
    color: #E4572E;
    margin-bottom: 20px;
}

#message {
    font-size: 1.5em;
    color: #F2EFE9;
    margin-top: 30px;
}

#p1_score, #p2_score {
    font-size: 3em;
    color: #F2EFE9;
    margin-top: 20px;
}

  